body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center; /* Center the navigation */
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
    text-align: center; /* Center the main content */
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 0.5em; /* Smaller padding for the footer */
    position: fixed;
    width: 100%;
    bottom: 0;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.carousel img {
    width: 50%; /* Smaller width for the image */
    height: auto;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 50px; /* Add margin to avoid cutting off */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.gallery-image {
    width: 200px;
    height: auto;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: transform 0.2s;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.video-container {
    margin-bottom: 20px; /* Adjust the value as needed to create space above the footer */
}
